[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask = "*"
sqlalchemy-serializer = "*"
python-dotenv = "*"
flask-restful = "*"
flask-cors = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.8"
